<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>143552590093-6c0l9htukcfs59s4ecuad0iqfom3rv5u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.143552590093-6c0l9htukcfs59s4ecuad0iqfom3rv5u</string>
	<key>API_KEY</key>
	<string>AIzaSyAZynsJ7jabXjtG16s5JbsRek7Bbqr3lhc</string>
	<key>GCM_SENDER_ID</key>
	<string>143552590093</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iOS.DAZZLE-AND-BLOOM</string>
	<key>PROJECT_ID</key>
	<string>crashtestfordazzleandbloom</string>
	<key>STORAGE_BUCKET</key>
	<string>crashtestfordazzleandbloom.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:143552590093:ios:6ecb16838cbbfb55a38044</string>
</dict>
</plist>